<div class="row">
    <h2 class="head text-center mt-5"><span style="color: rgb(27, 27, 138);font-size: 100px;">Latest plan
            sketches</span> <br> <span style="color:rgb(124, 12, 158) ;"></span></h2>
    <div class="card mb-3">
        <img src="https://i.pinimg.com/736x/2a/3e/de/2a3ede83a7d58f9e9643fa5898237b49--perspective-drawing-manual.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-title">Living Plan</h1>
            <h5 class="card-text">A typical Western living room may contain furnishings such as a sofa, chairs,
                occasional tables, coffee tables, bookshelves, televisions, electric lamps, rugs, or other furniture.
                Depending on climate, sitting rooms would traditionally contain a fireplace, dating from when this was
                necessary for heating.In homes that lack a parlour or family room, the living room may also function as
                a drawing room for guests.Objects in living rooms may be used "to instigate and mediate
                contemplation about significant others, as well as to regulate the amount of intimacy desired with
                guests."</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Kitchen Plan</h1>
            <h5 class="card-text">A kitchen is a room or part of a room used for cooking and food preparation in a
                dwelling or in a commercial establishment. A modern middle-class residential kitchen is typically
                equipped with a stove, a sink with hot and cold running water, a refrigerator, and worktops and kitchen
                cabinets arranged according to a modular design. Many households have a microwave oven, a dishwasher,
                and other electric appliances. The main functions of a kitchen are to store, prepare and cook food (and
                to complete related tasks such as dishwashing). The room or area may also be used for dining (or small
                meals such as breakfast), entertaining and laundry. The design and construction of kitchens is a huge
                market all over the world.</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="https://i.pinimg.com/originals/3b/15/bd/3b15bd0b62172807b55878bd419ed639.jpg" class="card-img-bottom"
            alt="...">
    </div>
</div>