<header  class="masthead text-white text-center">
    <div class="text-dark">
       <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
             <!-- Masthead Heading-->
 <h1 class="head mt-3"><span style="color:rgb(13, 13, 92);">IndoDecor</span></h1>
 <hr>
 <!-- Masthead Subheading-->
 <p class="masthead-subheading font-weight-light mb-0">Decor your home</p>
 <a class="btn btn-outline-dark mt-3" href='packages'>View Packages</a>
        </div>
        <div class="col-md-4"></div>
       </div>
    </div>
</header>


