<div class="row">
    <div class="col-md-2"></div>
    <div class="div1 col-md-8 text-center bg-warning mt-4">
        <h2 class="head mt-3">CONTACT US</h2>

        <h2 class="mt-5">Showroom Address:</h2>
        <p>Rosewood Tower,Metro Pillar No.444,Kochi,India</p>
        <p class="fs-4">Email:&nbsp;&nbsp;<span class="fs-5 text-primary">indodecor-designers.com</span></p>
        <p class="fs-4">Whatsapp&nbsp;<i class="fa fa-whatsapp"></i>&nbsp;&nbsp;<span class="fs-5 text-primary">+91 987655443398</span></p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row text-center mt-5 mb-5">
            <div class="col-md-3">
                <i class="fa-brands fa-twitter fa-3x" style="color:rgb(122, 212, 253) ;"></i>
                <p>twitter</p>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-facebook fa-3x" style="color:blue ;"></i>
                <p>facebook</p>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-instagram fa-3x" style="color:rgb(192, 28, 167) ;"></i>
                <p>instagram</p>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-linkedin fa-3x" style="color:rgb(62, 62, 229) ;"></i>
                <p>linkedln</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>