@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Fasthand&display=swap');


.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.head{
    font-family: 'Fasthand', cursive;
    font-size: 76px;
}


